As per RFC 3986 (URL), ampersands and other reserved characters in links should not be encoded

## The problem

The spec currently states that all characters in URLs in Markdown should be encoded.

[According to section 2.2. of RFC 3986](https://www.rfc-editor.org/rfc/rfc3986#section-2.2), reserved characters should _not_ be encoded in links (emphasis mine).

> URIs include components and subcomponents that are delimited by
>    characters in the "reserved" set. …
> 
>       reserved    = gen-delims / sub-delims
>       gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"
>       sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
>                   / "*" / "+" / "," / ";" / "="
> 
>    The purpose of reserved characters is to provide a set of delimiting
>    characters that are distinguishable from other data within a URI.
>    URIs that differ in the replacement of a reserved character with its
>    corresponding percent-encoded octet are not equivalent.  __Percent-
>    encoding a reserved character, or decoding a percent-encoded octet
>    that corresponds to a reserved character, will change how the URI is
>    interpreted by most applications.  Thus, characters in the reserved
>    set are protected from normalization and are therefore safe to be
>    used by scheme-specific and producer-specific algorithms for
>    delimiting data subcomponents within a URI.__
> 

## Practical implications

In practical use, in implementations of the current spec (like Markdown-it), it means that links that have a query string component break when the ampersands in them that were being used as delimiters are escaped.

Here’s a link to a Markdown-it issue demonstrating this use case (with a practical workaround that nevertheless introduces a performance penalty in parsing):

https://github.com/markdown-it/markdown-it/issues/1031

From that example, here is the incorrect link as well as the correct one that should be generated:

> [T]his is the incorrect link that’s being rendered (you can hit it to see the error):
> 
> - https://caninclude.glitch.me/caninclude?child=div&amp;parent=p
> 
> And this is the correct URL and its behaviour:
> 
> - https://caninclude.glitch.me/caninclude?child=div&parent=p

_Please note that `&amp;` is valid in the value section of query string key/value pairs, so the following is a valid query string: `/foo?bar=baz&bat=good&amp;valid` that as to parameters, `bar`, that has the value `baz`, and `bat`, with the value `good&amp;valid`. In the current spec, this would result in a link with one parameter, `bar`, with a value of `baz&amp;bat=good&amp;valid`._

This issue was first reported in https://github.com/commonmark/commonmark-spec/issues/413. I’d like to request that either that issue is reopened or that this issue is tracked here.

Thank you.

Hey!

> as this will break parameter parsing in the URL you’re hitting.

Are you sure? There might be something else you’re using that goes wrong? I cannot reproduce it with:

```js
document.body.innerHTML = `<p><a href="https://caninclude.glitch.me/caninclude?child=div&amp;parent=p">a <code>&lt;div&gt;</code> inside a <code>&lt;p&gt;</code> tag</a></p>` // This is your “actual” output from `markdown-it`
```

And then clicking it: the `&amp;` in the attribute is decoded by the HTML parser, and the browser goes to `&`?

I’ve heard similar “issues” before and then it was people who did other encoding

>  it means that links that have a query string component break when the ampersands in them that were being used as delimiters are escaped.

There are billions of markdown records already out there, many of them contain query strings or `&` in other places. Lots of URLs with queries here on GH! How could this suddenly happen now?

> The spec currently states that all characters in URLs in Markdown should be encoded.

Do you have something in mind already? What would you change where?

From what I can see, this isn’t about RFC 3986/URLs, but about how to encode characters in HTML attributes (similar to how we have to encode `"` because otherwise it would break out of the `href`)

URL spec apply as if you see it in the address bar. If it appears in a HTML attribute, it will first need to follow the HTML attribute value spec. It has nothing to do with the URL itself. In this situation, URL as a HTML attribute value will follow the HTML attribute value spec so that the URL string will not break the HTML token. It does not have to be URL.

@wooorm @taufik-nurrohman Please ignore, it’s not you, it’s me :) [Kitten](https://kitten.small-web.org) is apparently double escaping the amps. Does developer tools show me that? Nope! That’s why I was confused. Viewing the actual page source / what’s generated revealed the actual culprit:

```
https://caninclude.glitch.me/caninclude?child=div&amp;parent=p
```

Closing.

Apologies for the noise :)